<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Upload image</title>
  </head>
  <body>
    <h1>Upload Image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" />
      <button type="submit">Upload</button>
    </form>
    <hr />
    <h2>Images uploaded</h2>
    <img src="http://localhost:4000/images/Bike.png"></img>
  </body>
</html>
